@import "function";
@import "utility";

// ========== Page Overlayer Menu ==========
.overlayer-menu {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $blue-gradient;
  overflow-x: hidden;
  transition: all ease-in-out 1s;

  .box-container {
    position: relative;
    height: 100%;

    .closebtn {
      position: absolute;
      top: 0;
      right: 0;
      margin: 10% 0;
    }

    .overlay-navigation {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      flex-direction: column;

      a {
        padding: 1rem 2rem;
        color: $white-theme;
        font-family: "Poppins", sans-serif;
        font-size: 1.2rem;
      }
    }
  }
}
// ========== Page Overlayer Menu ==========

// ========== Page Hero Banner & The Menu ==========
.header-container {
  position: relative;
  height: 100vh;
  background-image: url("../images/Hero-Image.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  // Page Header & The Navigation
  .page-header {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-navigation {
      // width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        color: $white-theme;
        font-family: "Poppins", sans-serif;
        letter-spacing: 0;
        text-transform: capitalize;
        padding: 0 1rem;
      }

      .menu-icon {
        display: none;
      }
    }
  }
  .sticky {
    .header-navigation {
      a {
        color: $black-theme;

        &:hover {
          color: $blue-theme;
        }
      }
    }
  }

  // Hero-Banner Content
  .hero-banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    text-align: center;

    .btn-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .btn {
        margin: 0 2rem;
      }
    }
  }
}

@include normalScreens {
  .header-container {
    // Page Header & The Navigation
    .page-header {
      padding: 1rem;
      .header-barnding {
        img {
          width: 80%;
        }
      }

      .header-navigation {
        a {
          padding: 0 0.8rem;
        }
      }
    }

    // Hero-Banner Content
    .hero-banner-content {
      .btn-container {
        .btn {
          margin: 0 1rem;
        }
      }
    }
  }
}

@include smallScreens {
  .header-container {
    // Page Header & The Navigation
    .page-header {
      padding: 1rem;

      .header-barnding {
        img {
          width: 80%;
        }
      }

      .header-navigation {
        a {
          display: none;
          padding: 0;
        }

        .menu-icon {
          display: block;
        }
      }
    }

    // Hero-Banner Content
    .hero-banner-content {
      .btn-container {
        .btn {
          margin: 0 1rem;
        }
      }
    }
  }
}

@include exSmallScreens {
  .header-container {
    // Page Header & The Navigation
    .page-header {
      padding: 1rem;

      .header-barnding {
        img {
          width: 60%;
        }
      }

      .header-navigation {
        a {
          display: none;
          padding: 0;
        }

        .menu-icon {
          display: block;
        }
      }
    }

    // Hero-Banner Content
    .hero-banner-content {
      .btn-container {
        flex-direction: column;
        .btn {
          margin: 1rem 0;
        }
      }
    }
  }
}
// ========== Page Hero Banner & The Menu ==========

// ========== About Us Section ==========
.about-us {
  background-image: url("../images/Aboutus-Banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 60vh;

  .aboutus-content-container {
    height: 100%;
    min-height: 60vh;
    width: 40%;
    background-color: $blue-gradient;
    padding: 4rem 8rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    p {
      color: $white-theme;
      margin-bottom: 3rem;
      font-size: 1.2rem;
    }

    .btn-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      width: 90%;
    }
  }
}

@include largScreens {
  .about-us {
    min-height: 60vh;

    .aboutus-content-container {
      height: 100%;
      min-height: 60vh;
      width: 60%;
      padding: 2rem 4rem;

      .btn-container {
        width: 90%;
      }
    }
  }
}

@include normalScreens {
  .about-us {
    .aboutus-content-container {
      height: 100%;
      width: 100%;
      align-items: center;

      .hero-header {
        text-align: center;
      }

      p {
        text-align: center;
      }

      .btn-container {
        width: 80%;
      }
    }
  }
}

@include smallScreens {
  .about-us {
    .aboutus-content-container {
      height: 100%;
      width: 100%;
      align-items: center;
      padding: 1rem 2rem;

      .hero-header {
        text-align: center;
      }

      p {
        text-align: center;
      }

      .btn-container {
        width: 100%;
      }
    }
  }
}

@include exSmallScreens {
  .about-us {
    .aboutus-content-container {
      height: 100%;
      width: 100%;
      align-items: center;
      padding: 2rem;

      .hero-header {
        text-align: center;
      }

      p {
        text-align: center;
      }

      .btn-container {
        flex-direction: column;

        .btn {
          margin: 1rem;
        }
      }
    }
  }
}
// ========== About Us Section ==========

// ========== Our World Section ==========
.our-world {
  padding: 5rem 0;

  .box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .service-container {
      padding: 3rem 0;

      .services-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;

        .service-box {
          padding: 2rem;
          min-height: 300px;
          background-color: $light-hover;
          color: $black-theme;
          display: flex;
          flex-direction: column;
          justify-content: center;

          &:hover {
            background-color: $blue-gradient;
            color: $white-theme;
          }

          .service-headlie {
            font-size: 21px;
            font-family: "Poppins", sans-serif;
            text-transform: uppercase;
            margin-bottom: 1rem;
          }
        }
      }
    }

    .btn {
      margin: 1rem;
    }
  }
}

@include largScreens {
  .our-world {
    padding: 4rem 0;

    .box-container {
      .service-container {
        padding: 2rem 0;

        .services-grid {
          grid-gap: 1rem;

          .service-box {
            padding: 1.5rem;
          }
        }
      }
    }
  }
}

@include normalScreens {
  .our-world {
    padding: 2.5rem 0;

    .box-container {
      .service-container {
        padding: 1.5rem 0;

        .services-grid {
          grid-gap: 1rem;
          grid-template-columns: repeat(2, 1fr);

          .service-box {
            padding: 1rem;

            .service-headlie {
              font-size: 20px;
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
  }
}

@include smallScreens {
  .our-world {
    padding: 2rem 0;

    .box-container {
      .service-container {
        padding: 1rem 0;

        .services-grid {
          grid-template-columns: 1fr;
          grid-gap: 0.5rem;

          .service-box {
            padding: 1rem;
            text-align: center;
            min-height: 250px;

            .service-headlie {
              font-size: 1rem;
              margin: 0.5rem;
            }
          }
        }
      }

      .btn {
        margin: 1rem;
      }
    }
  }
}

@include exSmallScreens {
  .our-world {
    padding: 2rem 0;

    .box-container {
      .service-container {
        padding: 1rem 0;

        .services-grid {
          grid-template-columns: 1fr;
          grid-gap: 0.5rem;

          .service-box {
            padding: 1rem;
            text-align: center;
            min-height: 250px;

            .service-headlie {
              font-size: 1rem;
              margin: 0.5rem;
            }
          }
        }
      }

      .btn {
        margin: 1rem;
      }
    }
  }
}
// ========== Our World Section ==========
