@import "function";
@import "utility";

// ========== Page Overlayer Menu ==========
.overlayer-menu {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: $blue-gradient;
  overflow-x: hidden;
  transition: all ease-in-out 1s;

  .box-container {
    position: relative;
    height: 100%;

    .closebtn {
      position: absolute;
      top: 0;
      right: 0;
      margin: 10% 0;
    }

    .overlay-navigation {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      flex-direction: column;

      a {
        padding: 1rem 2rem;
        color: $white-theme;
        font-family: "Poppins", sans-serif;
        font-size: 1.2rem;
      }
    }
  }
}
// ========== Page Overlayer Menu ==========

// ========== Page Hero Banner & The Menu ==========
.header-container {
  position: relative;
  height: 100vh;
  background-image: url("../images/Hero-Image.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  // Page Header & The Navigation
  .page-header {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-navigation {
      // width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        color: $white-theme;
        font-family: "Poppins", sans-serif;
        letter-spacing: 0;
        text-transform: capitalize;
        padding: 0 1rem;
      }

      .menu-icon {
        display: none;
      }
    }
  }
  .sticky {
    .header-navigation {
      a {
        color: $black-theme;

        &:hover {
          color: $blue-theme;
        }
      }
    }
  }

  // Hero-Banner Content
  .hero-banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    text-align: center;

    .btn-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .btn {
        margin: 0 2rem;
      }
    }
  }
}

@include normalScreens {
  .header-container {
    // Page Header & The Navigation
    .page-header {
      padding: 1rem;
      .header-barnding {
        img {
          width: 80%;
        }
      }

      .header-navigation {
        a {
          padding: 0 0.8rem;
        }
      }
    }

    // Hero-Banner Content
    .hero-banner-content {
      .btn-container {
        .btn {
          margin: 0 1rem;
        }
      }
    }
  }
}

@include smallScreens {
  .header-container {
    // Page Header & The Navigation
    .page-header {
      padding: 1rem;

      .header-barnding {
        img {
          width: 80%;
        }
      }

      .header-navigation {
        a {
          display: none;
          padding: 0;
        }

        .menu-icon {
          display: block;
        }
      }
    }

    // Hero-Banner Content
    .hero-banner-content {
      .btn-container {
        .btn {
          margin: 0 1rem;
        }
      }
    }
  }
}

@include exSmallScreens {
  .header-container {
    // Page Header & The Navigation
    .page-header {
      padding: 1rem;

      .header-barnding {
        img {
          width: 60%;
        }
      }

      .header-navigation {
        a {
          display: none;
          padding: 0;
        }

        .menu-icon {
          display: block;
        }
      }
    }

    // Hero-Banner Content
    .hero-banner-content {
      .btn-container {
        flex-direction: column;
        .btn {
          margin: 1rem 0;
        }
      }
    }
  }
}
// ========== Page Hero Banner & The Menu ==========

// ========== About Us Section ==========
.about-us {
  background-image: url("../images/Aboutus-Banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 60vh;

  .aboutus-content-container {
    height: 100%;
    min-height: 60vh;
    width: 40%;
    background-color: $blue-gradient;
    padding: 4rem 8rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    p {
      color: $white-theme;
      margin-bottom: 3rem;
      font-size: 1.2rem;
    }

    .btn-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      width: 90%;
    }
  }
}

@include largScreens {
  .about-us {
    min-height: 60vh;

    .aboutus-content-container {
      height: 100%;
      min-height: 60vh;
      width: 60%;
      padding: 2rem 4rem;

      .btn-container {
        width: 90%;
      }
    }
  }
}

@include normalScreens {
  .about-us {
    .aboutus-content-container {
      height: 100%;
      width: 100%;
      align-items: center;

      .hero-header {
        text-align: center;
      }

      p {
        text-align: center;
      }

      .btn-container {
        width: 80%;
      }
    }
  }
}

@include smallScreens {
  .about-us {
    .aboutus-content-container {
      height: 100%;
      width: 100%;
      align-items: center;
      padding: 1rem 2rem;

      .hero-header {
        text-align: center;
      }

      p {
        text-align: center;
      }

      .btn-container {
        width: 100%;
      }
    }
  }
}

@include exSmallScreens {
  .about-us {
    .aboutus-content-container {
      height: 100%;
      width: 100%;
      align-items: center;
      padding: 2rem;

      .hero-header {
        text-align: center;
      }

      p {
        text-align: center;
      }

      .btn-container {
        flex-direction: column;

        .btn {
          margin: 1rem;
        }
      }
    }
  }
}
// ========== About Us Section ==========

// ========== Our World Section ==========
.our-world {
  padding: 5rem 0;

  .box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .service-container {
      padding: 3rem 0;

      .services-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;

        .service-box {
          padding: 2rem;
          min-height: 300px;
          background-color: $light-hover;
          color: $black-theme;
          display: flex;
          flex-direction: column;
          justify-content: center;

          &:hover {
            background-color: $blue-gradient;
            color: $white-theme;
          }

          .service-headlie {
            font-size: 21px;
            font-family: "Poppins", sans-serif;
            text-transform: uppercase;
            margin-bottom: 1rem;
          }
        }
      }
    }

    .btn {
      margin: 1rem;
    }
  }
}

@include largScreens {
  .our-world {
    padding: 4rem 0;

    .box-container {
      .service-container {
        padding: 2rem 0;

        .services-grid {
          grid-gap: 1rem;

          .service-box {
            padding: 1.5rem;
          }
        }
      }
    }
  }
}

@include normalScreens {
  .our-world {
    padding: 2.5rem 0;

    .box-container {
      .service-container {
        padding: 1.5rem 0;

        .services-grid {
          grid-gap: 1rem;
          grid-template-columns: repeat(2, 1fr);

          .service-box {
            padding: 1rem;

            .service-headlie {
              font-size: 20px;
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
  }
}

@include smallScreens {
  .our-world {
    padding: 2rem 0;

    .box-container {
      .service-container {
        padding: 1rem 0;

        .services-grid {
          grid-template-columns: 1fr;
          grid-gap: 0.5rem;

          .service-box {
            padding: 1rem;
            text-align: center;
            min-height: 250px;

            .service-headlie {
              font-size: 1rem;
              margin: 0.5rem;
            }
          }
        }
      }

      .btn {
        margin: 1rem;
      }
    }
  }
}

@include exSmallScreens {
  .our-world {
    padding: 2rem 0;

    .box-container {
      .service-container {
        padding: 1rem 0;

        .services-grid {
          grid-template-columns: 1fr;
          grid-gap: 0.5rem;

          .service-box {
            padding: 1rem;
            text-align: center;
            min-height: 250px;

            .service-headlie {
              font-size: 1rem;
              margin: 0.5rem;
            }
          }
        }
      }

      .btn {
        margin: 1rem;
      }
    }
  }
}
// ========== Our World Section ==========

// ========== Our Crew Section ==========
.our-crew {
  background-image: url(../images/Crew-Banner.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 5rem 0;
  color: $white-theme;

  .team-member-container {
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .team-member-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;

      .team-member-box {
        position: relative;

        &:hover .member-box-overlayer {
          opacity: 1;
        }

        .member-box-overlayer {
          position: absolute;
          background-color: $blue-gradient;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 90%;
          height: 90%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          opacity: 0;
          transition: all ease-in-out 1s;
        }
      }
    }
  }
}

@include largScreens {
  .our-crew {
    padding: 3rem 0;

    .team-member-container {
      padding: 2rem 0;
    }
  }
}

@include normalScreens {
  .our-crew {
    padding: 2.5rem 0;

    .team-member-container {
      padding: 1.5rem 0;

      .team-member-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
      }
    }
  }
}

@include smallScreens {
  .our-crew {
    padding: 2rem 0;

    .team-member-container {
      padding: 1rem 0;

      .team-member-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
      }
    }
  }
}

@include exSmallScreens {
  .our-crew {
    padding: 2rem 0;

    .team-member-container {
      padding: 1rem 0;

      .team-member-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
      }
    }
  }
}
// ========== Our Crew Section ==========

// ========== Why Us Section ==========
.why-us {
  // width: 100%;
  overflow-x: hidden;

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;

    .grid-text-container {
      background-color: $white-theme;
      padding: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .sub-heading {
        margin-top: -4rem;
        margin-bottom: 2rem;
      }

      .progress-section {
        padding: 1rem 0;
        width: 100%;

        .progress-container {
          padding: 1rem 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          .progress-heading {
            font-size: 0.8rem;
            margin-bottom: 0.8rem;
          }

          #progress {
            width: 100%;
            background-color: $dark-hover;
            height: 0.7rem;
            border-radius: 5px;

            #progress-bar {
              border-radius: 5px;
              width: 56%;
              height: 0.7rem;
              background-color: $blue-theme;
            }
          }
        }
      }
    }

    .grid-img-background {
      height: 100%;
      background-image: url("../images/Why-us.jpg");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;

      .testermonial-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 60%;
        text-align: center;
        padding: 1rem;
        background-color: $blue-gradient;
        color: $white-theme;

        .testemonial {
          padding: 1rem;

          .quote-icon {
            font-size: 4rem;
            line-height: 1;
          }

          .testermonial-quote {
            font-family: "Montserrat", sans-serif;
            font-size: 1.2rem;
            font-style: italic;
            margin-bottom: 1rem;
            font-weight: 700;
          }

          .testermoianl-name {
            font-size: 1rem;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
          }
        }
      }
    }
  }
}

@include largScreens {
  .why-us {
    .grid-container {
      .grid-text-container {
        padding: 3rem;
      }

      .grid-img-background {
        .testermonial-container {
          width: 75%;
          height: 75%;
        }
      }
    }
  }
}

@include normalScreens {
  .why-us {
    .grid-container {
      grid-template-columns: 1fr;

      .grid-text-container {
        padding: 3rem;
      }

      .grid-img-background {
        height: 30vh;

        .testermonial-container {
          width: 80%;
          height: 70%;
        }
      }
    }
  }
}

@include smallScreens {
  .why-us {
    .grid-container {
      grid-template-columns: 1fr;

      .grid-text-container {
        padding: 2rem;

        .sub-heading {
          margin-top: -3rem;
          margin-bottom: 1.5rem;
        }

        .progress-section {
          padding: 0.5rem 0;

          .progress-container {
            padding: 0.5rem 0;
          }
        }
      }

      .grid-img-background {
        height: 50vh;

        .testermonial-container {
          width: 80%;
          height: 80%;
          padding: 0.8rem;

          .testemonial {
            .quote-icon {
              font-size: 3rem;
              line-height: 1;
            }

            .testermonial-quote {
              font-size: 1rem;
            }

            .testermoianl-name {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}

@include exSmallScreens {
  .why-us {
    .grid-container {
      grid-template-columns: 1fr;

      .grid-text-container {
        padding: 2rem;

        .sub-heading {
          margin-top: -3rem;
          margin-bottom: 1.5rem;
        }

        .progress-section {
          padding: 0.5rem 0;

          .progress-container {
            padding: 0.5rem 0;
          }
        }
      }

      .grid-img-background {
        height: 50vh;

        .testermonial-container {
          width: 80%;
          height: 80%;
          padding: 0.8rem;

          .testemonial {
            .quote-icon {
              font-size: 3rem;
              line-height: 1;
            }

            .testermonial-quote {
              font-size: 1rem;
            }

            .testermoianl-name {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}

// ========== Why Us Section ==========

// ========== Portfolio Section ==========
.portfolio {
  overflow-x: hidden;
  .section-header {
    padding: 5rem 0;
  }

  .portfolio-btn-container {
    border-top: 1px solid rgba($dark-hover, 0.2);
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .portfolio-container {
    .gallery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      a {
        position: relative;

        img {
          display: block;
          height: 100%;
        }
      }
    }
  }
}

@include largScreens {
  .portfolio {
    .section-header {
      padding: 3rem 0;
    }
  
    .portfolio-btn-container {
      padding: 1.5rem 0;
    }
  
    .portfolio-container {
      .gallery {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@include normalScreens {
  .portfolio {
    .section-header {
      padding: 2.5rem 0;
    }
  
    .portfolio-btn-container {
      padding: 1.2rem 0;
    }
  
    .portfolio-container {
      .gallery {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@include smallScreens {
  .portfolio {
    .section-header {
      padding: 2rem 0;
    }
  
    .portfolio-btn-container {
      padding: 0;
      flex-direction: column;
    }
  
    .portfolio-container {
      .gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

@include exSmallScreens {
  .portfolio {
    .section-header {
      padding: 2rem 0;
    }
  
    .portfolio-btn-container {
      padding: 0;
      flex-direction: column;
    }
  
    .portfolio-container {
      .gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
// ========== Portfolio Section ==========

// ========== Our Achivements Section ==========
.achivements {
  overflow-x: hidden;
  padding: 5rem 0;
  background-image: url("../images/Achivement-Banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  .achivement-section-header {
    padding-bottom: 2.5rem;

    .box-container {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      .sub-heading {
        color: $blue-theme;
        margin-bottom: 2rem;
      }

      .hero-header {
        line-height: 2.5rem;
        margin-bottom: 3rem;
      }
    }
  }

  .achivement-content {
    padding: 2rem;
    padding-bottom: 0;

    .grid-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
      color: $white-theme;

      .achivemnet-box {
        padding: 2rem;

        .achivement-icon {
          background-color: $blue-gradient;
          padding: 3rem;
          border-radius: 50%;
        }

        .achivement-text {
          padding: 1rem 0;
          padding-bottom: 0;

          .achivement-head {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@include largScreens {
  .achivements {
    padding: 3rem 0;
  
    .achivement-section-header {
      padding-bottom: 2rem;
  
      .box-container {
        width: 90%;
  
        .sub-heading {
          margin-bottom: 1.5rem;
        }
  
        .hero-header {
          margin-bottom: 2rem;
        }
      }
    }
  
    .achivement-content {
      padding: 1rem;
  
      .grid-container {
  
        .achivemnet-box {
          padding: 1rem;
  
          .achivement-icon {
            padding: 2rem;
          }
        }
      }
    }
  }
}

@include normalScreens {
  .achivements {
    padding: 2.5rem 0;
  
    .achivement-section-header {
      padding-bottom: 1.5rem;
  
      .box-container {
        width: 90%;
  
        .sub-heading {
          margin-bottom: 1.5rem;
        }
  
        .hero-header {
          line-height: 2rem;
          margin-bottom: 1.5rem;
        }
      }
    }
  
    .achivement-content {
      padding: 1rem;
  
      .grid-container {
  
        .achivemnet-box {
          padding: 1rem;
  
          .achivement-icon {
            padding: 2rem;
          }
  
          .achivement-text {
            padding: 1rem 0;
  
            .achivement-head {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

@include exSmallScreens {
  .achivements {
    padding: 2rem 0;
  
    .achivement-section-header {
      padding-bottom: 1.5rem;
  
      .box-container {
        width: 100%;
  
        .sub-heading {
          margin-bottom: 1rem;
        }
  
        .hero-header {
          line-height: 1.8rem;
          margin-bottom: 1.5rem;
          text-align: inherit;
        }
      }
    }
  
    .achivement-content {
      padding: 1rem;
  
      .grid-container {
        flex-direction: column;
  
        .achivemnet-box {
          width: 100%;
          padding: 1rem;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
  
          .achivement-icon {
            padding: 1.5rem;
            border-radius: 50%;

            .fa-3x {
              font-size: 2rem;
            }
          }
  
          .achivement-text {
            text-align: left;
            vertical-align: middle;
  
            .achivement-head {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}
// ========== Our Achivements Section ==========

// ========== Our Plan Section ==========
.plans {
  padding: 5rem 0;

  .plan-container {
    padding-top: 3rem;
    padding-bottom: 2rem;

    .plan-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-content: center;
      text-align: center;
      grid-gap: 3rem;

      .plan-items {
        padding: 2rem;
        background-color: $light-hover;
        color: $black-theme;
        border-radius: 10px;
        text-transform: capitalize;

        &:hover {
          color: $white-theme;
          background-color: $blue-theme;

          .btn {
            color: $white-theme;
            border-color: $white-theme;
          }
        }

        .plan-header {
          font-size: 2rem;
          font-weight: 700;
          padding-bottom: 1rem;
        }

        .plan-subhead {
          font-size: 1.3rem;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          padding-bottom: 2rem;
        }

        .price-tag {
          padding: 1rem 0 2rem 0; 
          font-size: 3rem;
          font-family: 'Poppins', sans-serif;

          span {
            font-size: 2rem;
          }
        }

        .plan-services {
          padding: 1rem 0 2rem 0;
          width: 100%;

          .services-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 70%;
            margin: auto;
            margin-bottom: 1rem;
            font-size: 1.2rem;
            font-weight: 400;

            i {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

@include largScreens {
  .plans {
    padding: 4rem 0;
  
    .plan-container {
  
      .plan-grid {
        grid-gap: 1rem;
  
        .plan-items {
          padding: 1rem;
  
          &:hover {
            color: $white-theme;
            background-color: $blue-theme;
          }
  
          .plan-header {
            font-size: 1.6rem;
            padding-bottom: 0.8rem;
          }
  
          .plan-subhead {
            font-size: 1rem;
            padding-bottom: 1.5rem;
          }
  
          .price-tag {
            padding: 0.8rem 0 1.6rem 0; 
            font-size: 2rem;
  
            span {
              font-size: 1.2rem;
            }
          }
  
          .plan-services {
            padding: 0.8rem 0 1.6rem 0;
            width: 100%;
  
            .services-item {
              font-size: 1rem;
              font-weight: 400;
  
              i {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }
}

@include normalScreens {
  .plans {
    padding: 2.5rem 0;
  
    .plan-container {
      padding-top: 1.5rem;
      padding-bottom: 1rem;
  
      .plan-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3rem;

        .plan-items {
          width: 70%;
          margin: auto;
        }
      }
    }
  }
}

@include smallScreens {
  .plans {
    padding: 2rem 0;
  
    .plan-container {
      padding-top: 1.5rem;
      padding-bottom: 1rem;
  
      .plan-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
  
        .plan-items {
          padding: 1rem;
  
          .plan-header {
            font-size: 1.2rem;
            padding-bottom: 0.5rem;
          }
  
          .plan-subhead {
            font-size: 1rem;
            padding-bottom: 1rem;
          }
  
          .price-tag {
            padding: 0.5rem 0 1rem 0; 
            font-size: 1.8rem;
  
            span {
              font-size: 1.2rem;
            }
          }
  
          .plan-services {
            padding: 0.5rem 0 1rem 0;
  
            .services-item {
              width: 80%;
              margin-bottom: 0.5rem;
              font-size: 1rem;
  
              i {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }
}

@include exSmallScreens {
  .plans {
    padding: 2rem 0;
  
    .plan-container {
      padding-top: 1.5rem;
      padding-bottom: 1rem;
  
      .plan-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
  
        .plan-items {
          padding: 1rem;
  
          .plan-header {
            font-size: 1.2rem;
            padding-bottom: 0.5rem;
          }
  
          .plan-subhead {
            font-size: 1rem;
            padding-bottom: 1rem;
          }
  
          .price-tag {
            padding: 0.5rem 0 1rem 0; 
            font-size: 1.8rem;
  
            span {
              font-size: 1.2rem;
            }
          }
  
          .plan-services {
            padding: 0.5rem 0 1rem 0;
  
            .services-item {
              width: 80%;
              margin-bottom: 0.5rem;
              font-size: 1rem;
  
              i {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }
}
// ========== Our Plan Section ==========
